<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	meta(name="viewport" content="width=device-width, initial-scale=1")

	title Encurtador de links - CHAORDiC

	link(rel="stylesheet", href="assets/css/styles/styles.css")
body
	include svgs.html
	
	include includes/topo.jade
	include includes/main.jade
	include includes/top5.jade
	include includes/countlinks.jade
	include includes/footer.jade
	include includes/scripts.jade