footer#main-footer
	.container
		span.brand chr.dc
		ul#social-list
			li
				a(href="#")
					img(src="./assets/images/icon-facebook.png", alt="Visite nosso facebook")
			li
				a(href="#")
					img(src="./assets/images/icon-twitter.png", alt="Tweet-nos alguma coisa")

