@font-face {
  font-family: 'Roboto Slab';
  src: url('./RobotoSlab-Regular.ttf') format('ttf');
  font-weight: 500;
  font-style: normal
}
@font-face {
  font-family: 'Roboto Slab';
  src: url('./RobotoSlab-Bold.ttf') format('ttf');
  font-weight: 700;
  font-style: normal
}
